<% layout('layouts/boilerplate')%>

    <!-- :: Breadcrumb Header -->
    <section class="breadcrumb-header" style="background-image: url(/assets/images/hospital.jpeg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner">
                        <h1 style="color: white;">Testimonials</h1>
                        <ul>
                            <li><a href="index.html" style="color: white;">Home</a></li>
                            <li><i class="fas fa-angle-right"></i></li>
                            <li style="color: white;">Testimonials</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: FAQs -->
    <section class="faqs-page py-100-70">
        <div class="container">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">
                                <h5 style='font-size: 23px; color:#1a3d7d; font-weight: bold;'> Name </h5>
                            </th>
                            <th scope="col">
                                <h5 style='font-size: 23px; color:#1a3d7d; font-weight: bold;'>Occupation </h5>
                            </th>
                            <th scope="col">
                                <h5 style='font-size: 23px; color:#1a3d7d; font-weight: bold;'>Testimony </h5>
                            </th>
                            <th scope="col">
                                <h5 style='font-size: 23px; color:#1a3d7d; font-weight: bold;'>Edit </h5>
                            </th>
                            <th scope="col">
                                <h5 style='font-size: 23px; color:#1a3d7d; font-weight: bold;'>Delete</h5>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for (let testimony of testimonys){%>
                            <tr>
                                <!-- <th scope="row">
                                    <%= testimony._id %>
                                </th> -->
                                <td>
                                    <p style="font-size: 23px; color: #1a3d7d; margin-top: 10px;">
                                        <%= testimony.name %>
                                    </p>
                                </td>
                                <td>
                                    <p style="font-size: 23px; color: #1a3d7d; margin-top: 10px;">
                                        <%= testimony.occupation %>
                                    </p>
                                </td>
                                <% let length = 20 %>
                                <td>
                                    <p style="font-size: 23px; color: #1a3d7d; margin-top: 10px;">
                                        <%= testimony.testify.substring(0, length - 3) + "..." %>
                                    </p>
                                </td>
                                <td>

                                    <a class="btn-1" href="/testimonys/<%=testimony._id%>/edit"
                                        style="font-size: 23px; margin-top: 3px;">Edit</a>

                                </td>
                                <td>
                                    <form action="/testimonys/<%=testimony._id%>?_method=DELETE" method="POST">
                                        <button class="btn-1" style="font-size: 23px; margin-top: 3px;">Delete</button>
                                    </form>

                                </td>
                            </tr>
                            <%}%>
                    </tbody>

                </table>
            </div>
        </div>
    </section>